.mainbodyflex {
    display: grid;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: 1200px auto;
    grid-template-rows: auto auto;
    gap: 15px;
    padding: 50px
}

.topleft {

    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    background: rgb(77, 72, 105);
    background: linear-gradient(180deg, rgba(77, 72, 105, 1) 35%, rgba(37, 35, 51, 1) 100%);
    border-radius: 50px 10px 50px 10px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    img {
        object-fit: contain;
        max-width: 800px;
        width: 100%;
        height: auto;
        background-color: #EAEAEA;
        border-radius: 10px 10px 0 0;
    }

}

.driverCard {
    background-color: #222029;
    border-radius: 10px;

    p,
    b,
    h2 {
        color: white !important;
        text-align: center;
    }

    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        box-shadow:  5px 5px 10px ;
    }
}

.topright {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    img {
        object-fit: contain;
        max-width: 900px;
        width: 100%;
        height: auto;

    }

    h1 {
        text-align: center;
    }
}

.bottomleft {

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    h1 {
        text-align: center;
    }
}


.bottomright {

    display: grid;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;

    img {
        object-fit: contain;
        max-width: 800px;
        width: 100%;
        height: auto;
    }

    h1 {
        text-align: center;
    }
}

.newsItem {
    background-color: #222029;
    border-radius: 10px;

    p,
    b,
    h2 {
        color: white !important;
        text-align: center;
    }

    img {
        max-width: 290px;
        width: 100%;
        max-height: 162px;
        height: 100%;
        object-fit: contain;
        border-radius: 10px 10px 0 0;
        border-bottom: 2px solid black;
    }

    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
        box-shadow:  2px 5px 10px ;
    }
}

.cardInfo {
    p {
        padding: 5px;
    }
}

.driverTable {
    max-width: 800px;
    width: 100%;
    height: auto;

    tr,
    th,
    td {
        border: 3px solid #494949;
        padding: 8px;
        font-size: 18px;
    }
}

.driverCard {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}